.link {
  font-size: 20px;
  margin-right: 20px;
  text-decoration: none;
  font-size: 20px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.link.active {
  color: #e84a5f;
}
